* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2) ; /* why use rgba instead of hex here? */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,.1);
   padding: 1rem;
   background-color: #ddd;
   color: #000; 
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    /* I am so blessed to have witnessed the beauty of my country and live with my family. I belong to a family of 10 and I am the second child. I have seen many good attributes as I live with my parents and siblings. Now that I am married with two beautiful daughters, I can continue the teachings I learn when I was with my parents. I am also a latter day saint and I love going to church every Sunday with my family. My loving wife is always my life saver in magnifying my callings. I love her and our children. We are growing and we are happy every day as we make time for each other and most specially during our Come Follow Me and Family Home Evening. */
        float: right;
}
    
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}
